<main class="form-signin w-100 m-auto">
  <form>
    <h2 class="h3 mb-3 fw-normal">Faça o seu login</h2>

    <div class="form-floating">
      <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
      <label for="floatingInput">E-mail</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
      <label for="floatingPassword">Senha</label>
    </div>
    <br>
    <a class="w-100 btn btn-lg btn-primary" href="/perfil" type="submit">Login</a>
    <br><br>
    <a class="w-100 btn btn-lg btn-primary" href="/perfil/adm1" type="submit">Nível 1</a>
    <br><br>
    <a class="w-100 btn btn-lg btn-primary" href="/perfil/adm2" type="submit">Nível 2</a>
  </form>
</main>
