  <form action="/login" method="post">
    <h2 class="h3 mb-3 fw-normal">Faça o seu login</h2>

    <div class="form-floating">
      <input type="email" class="form-control" id="floatingInput" name="email"placeholder="name@example.com">
      <label for="floatingInput">E-mail</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="floatingPassword" name="senha" placeholder="Senha">
      <label for="floatingPassword">Senha</label>
    </div>
    <br>
    <input class="w-100 btn btn-lg btn-primary" type="submit" value="Entrar">
  </form>
