<h2>Reservar Churrasqueira</h2>
<br>
<form action="/perfil/reservas/save/{{associado.id}}" method="post" class="d-flex flex-column">
    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label">Data:</label>
        <div class="col-sm-10">
            <input type="date" name="data" class="form-control" placeholder="Ex: dd/mm/aaaa" maxlength="10" autocomplete="off"/>
        </div>
    </div>
    <div class="input-wrapper">
        <label class="col-sm-2 col-form-label" for="event-category">Churrasqueiras:</label>
            <select class="col-sm-3 col-form-label" name="local">
                <option name="Área de lazer">Área de lazer</option>
                <option name="Campo de futebol">Campo de futebol</option>
                <option name="Piscina">Piscina</option>
            </select>
    </div>
    <hr>
        <input class="w-100 btn btn-lg btn-primary" type="submit" value="Reservar"></input>
    </div>
</form>