<h2>Resultados</h2>
<hr>
<div class="table-responsive">
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th scope="col">Associado</th>
                <th scope="col">Status</th>
                <th scope="col">Dependentes</th>
                <th scope="col">Parentesco</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{associado.nome}}</td>
                <td>{{#if associado.status}} Ativo {{else}} Inativo {{/if}}</td>
                <td >{{#each dependentes}}<p>{{this.nome}}</p> {{/each}}</td>
                <td>{{#each dependentes}}<p>{{this.parentesco}}</p> {{/each}}</td>
            </tr>
        </tbody> 
    </table>
</div>

<a class="w-100 btn btn-lg btn-primary" href="/perfil/administrador/1" type="submit">Retornar</a>